<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <div>
    <td><img src="../../../assets/Image/43.png" /><br />
      Le Collège Jean-de-Brébeuf est une institution privée offrant le cours secondaire et le cours collégial et poursuit sa mission d'excellence en formant les leaders de demain dans un environnement extraordinaire au pied du Mont-Royal, au coeur du quartier universitaire de Montréal.
      <br><br>
      Pour le secondaire, le Collège a un taux de réussite exceptionnelle aux épreuves uniques du ministère de l'Éducation en 2014.
      <br><br>
      Pour le collégial, Le Collège offre des programmes préuniversitaires de DEC et du Baccalauréat International, tout en étant l'institution collégiale qui envoie le plus grand nombre d'étudiants en facultés universitaires hautement contingentées, des facultés comme la médecine et le droit, et ce, à l'échelle métropolitaine.</td>
    </div>
  </tr>
  <div>
  <tr>
    <td><img src="../../../assets/Image/colval.png" /><br />
      Le Collège de valleyfield est une institution publique offrant  le cours collégial et poursuit sa mission d'excellence en formant les leaders de demain dans un environnement extraordinaire.
      <br><br>
      Le Collège a un taux de réussite exceptionnelle aux épreuves uniques du ministère de l'Éducation en 2014.
      <br><br>
      Pour le collégial, Le Collège offre des programmes préuniversitaires de DEC et du Baccalauréat International, tout en étant l'institution collégiale qui envoie le plus grand nombre d'étudiants en facultés universitaires hautement contingentées, des facultés comme la médecine et le droit, et ce, à l'échelle métropolitaine.</td>


  </tr>
  </div>
</table>
