<div class="container">
    <div class="row">

        <div class="col-sm-6"> 
            <h1 class="big-text font-weight-normal">À PROPOS DE O-TUTOR</h1>
            <p class="p1">Commencez à apprendre avec O-tutor dès aujourd'hui</p>
        </div>

        <div class="container d1">

            <div class="row">
                <div class="col-md-4">
                  <div class="display">
                    <div class="members-L"><img src="https://bdeb.o-tutor.com/frontend_assets/images/how-it.png"></div>
                    <div class="members-R">
                      <div class="members-R-two">COMMENT ÇA</div>
                      <div class="members-R-one">MARCHE</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="display">
                    <div class="members-L"><img src="https://bdeb.o-tutor.com/frontend_assets/images/what-we.png"></div>
                    <div class="members-R">
                      <div class="members-R-two">CE QUE NOUS</div>
                      <div class="members-R-one">OFFRONS</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="display">
                    <div class="members-L"><img src="https://bdeb.o-tutor.com/frontend_assets/images/members-icon.png"></div>
                    <div class="members-R">
                      <div class="members-R-two">LA SUPER</div>
                      <div class="members-R-one">ÉQUIPE</div>
                    </div>
                  </div>
                </div>
              </div>

        </div>   
    </div>

</div>

<div class="container-fluid bg-light d2">

    <div class="triangle-down-white"></div>

    <div class="container-sm">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <p class="p1 p3">Comment ça marche  -----------------------------</p>
                </div>
                <div class="row">
                    <p>O-tutor est une plateforme permettant à un étudiant d'avoir un portail web pour <br> chacune des classes qu'il a au collège. Cela apporte deux avantages majeurs :</p>
                </div>
                <div class="row">
                    <p class="p2">Ses professeurs vont pouvoir lui partager des ressources et des exercices pour <br> qu'il puisse s'améliorer. Il va aussi avoir accès à une vaste communauté en ligne <br> d'élèves et de professeurs prêt à répondre à ses questions les plus complexes.</p>
                </div>
            </div>
            <div class="col">

                <img src="assets/about-page-img/about-img-responsive.png" class="rounded float-left" alt="Main screen">
    
            </div>
        </div>        
    </div>
    
      
</div>

<div class="container">

    <div class="triangle-down-bg"></div>

    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <p class="p3">L'utilisation des tuto-apps vont faire tomber les étudiants en amour avec <br> l'apprentissage. À la base ils sont des jeux conçus pour apprendre.</p>
            </div>
            <div class="row">
                <p>La communauté, qui est accessible au travers d'un furom, de messages privés, <br> d'une messagerie informelle intégrée ainsi qu'une classe virtuelle vous liant à vos <br> collègues de cours et vos professeurs, fera en sorte qu'en cas de blocage sur un <br> exercice sentez-vous libre de demander à quiconque de l'aide.</p>
            </div>
            <div class="row">
                <p class="p2">Aussi, il est fort probable que quelqu'un d'autre ait eu des souçis sur une même<br> question et donc que la solution que vous recherchiez se trouve sur le forum, vous <br> n'avez qu'à chercher le titre de la question pour la trouver rapidement.</p>
            </div>
        </div>
        <div class="col">

            <img src="assets/about-page-img/about-img-icon-1.png" class="rounded float-left" alt="Main screen">

        </div>
        
    </div>

    <div class="row align-items-center">        
        <div class="col">
          
            <img src="assets/about-page-img/about-img-icon-2.png" class="rounded float-left" alt="Main screen">


        </div>
        
        <div class="col">
            <div class="row">
                <p class="p3">Puisque chaque question de la banque de donnée est liée à une section spécifique, <br> lorsqu'un étudiant réponds à une question, qu'il ait tord ou raison, ce plugin <br> apprendra les connaisances acquise (ou pas) de l'étudiant l'aidant ensuite à <br> optimiser ses sessions de révision.</p>
            </div>       
            <div class="row">
                <p class="p2">Ainsi, la prochaine fois que l'étudiant passera une auto-évaluation, O-tutor mettra <br> automatiquement l'accent sur un sujet sur lequel il à plus de difficulté.</p>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid bg-light d2">

    <div class="triangle-down-white"></div>

    <div class="container-sm">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <p class="p1 p3">Ce que nous offrons  -----------------------------</p>
                </div>
                <div class="row">
                    <p>O-tutor étant un PLE, un environnement apprentissage personnel (Personal <br> Learning Environment), il est l'outil parfait pour simlpifier votre apprentissage, <br> utilisé indépendemment ou en tandem avec un cours que vous suivez déjà.</p>
                </div>
                <div class="row">
                    <p>O-tutor va s'assurer que vous étudiez les sujets de votre cursus. La plateforme <br> conceptualisera et mettra à jour une analyse cognitive à chaque fois que vous <br> répondez à une question, que ce soit un examen ou non, afin de déterminer vos <br> forces et faiblesses. Par la suite, la plateforme vous recommandera des questions <br> spécifiques à partir d'une banque de question grandissante de plus de 4000 <br> questions afin de s'assurer que vous maîtrisiez et solidifiez votre savoir actuel.</p>
                </div>
                <div class="row">
                    <p>Puisque O-tutor est un projet supporté par plusieurs collèges, il est fort probable <br> que le votre s'en sert déjà. <a href="/collegelist">Cliquez ici pour voir une liste exhaustive des <br> établissements participants.</a> Ainsi, vous pouvez lier votre profil O-tutor à vos cours <br> collégiaux officiels, vous permettant de passer des tests en ligne pour ce cours spécifique.</p>
                </div>
                <div class="row">
                    <p>Vous pouvez aussi profiter du forum, de la messagerie intégrée et de la classe <br> virtuelle pour communiquer simplement avec vos  collègues de classe et vos<br> professeurs quand vous le désirez.</p>
                </div>
            </div>
            <div class="col">

                <img src="assets/about-page-img/about-img-icon-3.png" class="rounded float-left" alt="Main screen">
    
            </div>
        </div>        
    </div>    
</div>

<div class="container">

    <div class="triangle-down-bg"></div>

    <div class="container arrow-gray padding-top-100">
        <div class="row">
          <div class="col-md-12">
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/access-icon.png" alt=""></div>
              <div class="access-community-right">
                <h1>Accès à la communauté</h1>
                <p>Une messagerie intégrée et une classe virtuelle vous permettra de communiquer simplement avec vos collègues. Vous pouvez aussi utiliser le forum afin de clarifier certains concepts avec lesquels vous avez plus de difficulté ou encore pour répondre à des questions pour aider les autres et obtenir aisément des Tuto-points.</p>
              </div>
            </div>
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/learner-profile-icon.png" alt=""></div>
              <div class="access-community-right">
                <h1>Profil d'apprenant avec analyse cognitive</h1>
                <p>À chaque fois que vous, ou un de vos étudiants, complète soit un test ou encore un <a href="">exercice,</a><a href=""> O-tutor va</a> automatiquement apprendre ce dans quoi l'apprenant est talentueux, ainsi que ce sur quoi il a plus de difficulté, afin de lui recommander des <span class="dark-green">exercices</span> axés sur ce qui doit être amélioré.</p>
              </div>
            </div>
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/easy_button.png" alt=""></div>
              <div class="access-community-right">
                <h1>Simple et facile à utiliser</h1>
                <p>L'interface utilisateur à été conçu et optimisé dans le but d'être simple à utiliser et facile à comprendre, il va par la suite s'adapter pour vous afficher ce qui est le plus important et vous informer sur de nouveautés vous étant utiles.</p>
              </div>
            </div>
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/grade-icon.png" alt=""></div>
              <div class="access-community-right">
                <h1>Améliorez vos résultats</h1>
                <p>O-tutor va s'assurer que vos résultats soient excellents en vous aident à étudier ce qui est primordial. Profitez de la communauté afin d'apprendre et de comprendre plus en moins de temps. </p>
              </div>
            </div>
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/fun-use-icon.png" alt=""></div>
              <div class="access-community-right">
                <h1>PLE agréable d'utilisation</h1>
                <p>Étonnez vous à aimer étudier en utilisant nos <span class="dark-green">tuto-apps,</span> qui vous feront apprendre en jouant.</p>
              </div>
            </div>
            <div class="access-community-repeat">
              <div class="access-community-left"><img src="https://bdeb.o-tutor.com/frontend_assets/images/tandem--college-icon.png" alt=""></div>
              <div class="access-community-right">
                <h1>En tandem avec votre collège</h1>
                <p>Votre collège utilise fort probablement O-tutor, utilisez cet outil pour communiquer avec vos professeurs et liez votre profil aux cours officiels offerts par vottre collège. <a href=""></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container-fluid bg-light d2">

    <div class="triangle-down-white"></div>

    <div class="row padding-top-100 padding-bottom-30">
        <div class="col-md-12">
          <div class="lms-heading-bg margin-bottom-40">
            <div class="text">Recontrez l'Équipe</div>
          </div>
          <div class="grid">
            <div class="row">
              <div class="col-md-12">
                <div class="meet-bg">
                  <ul>
                    <li>
                      <div class="img-icon"><img src="https://bdeb.o-tutor.com/frontend_assets/images/team-icon-1.png" alt=""> <span class="line"></span></div>
                      <h1>O-tutor </h1>
                      <h2>TUTEUR VIRTUEL PERSONNALISÉ</h2>
                      <h3></h3>
                    </li>
                    <li>
                      <div class="img-icon"><img src="https://bdeb.o-tutor.com/frontend_assets/images/team-icon-1.png" alt=""><span class="line"></span></div>
                      <h1>Komi Sodoké </h1>
                      <h2>CHEF DE PROJET</h2>
                      <h3></h3>
                    </li>
                    <li>
                      <div class="img-icon"><img src="https://bdeb.o-tutor.com/frontend_assets/images/team-icon-1.png" alt=""><span class="line"></span></div>
                      <h1>Martin Riopel </h1>
                      <h2>CONSEILLÉ SCIENTIFIQUE</h2>
                      <h3></h3>
                    </li>
                    <li>
                      <div class="img-icon"><img src="https://bdeb.o-tutor.com/frontend_assets/images/team-icon-1.png" alt=""></div>
                      <h1>Maxime Plante </h1>
                      <h2>PROGRAMMEUR</h2>
                      <h3></h3>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container">

    <div class="triangle-down-bg"></div>

    <div class="row">
        <div class="col-md-5  padding-top-100">
          <div class="get-started">
            <h1>DÉBUTONS !</h1>

            
            <p>Intéressé ? Commencez à utiliser O-tutor maintenant avec votre collège et lancez-vous dans l'essai gratuit maintenant !<span class="orange"></span>  </p>
            <p>
                </p><div><a href="/login"><div class="btn btn-warning"> <span class="circle-icon"><i class="fa fa-circle"></i></span> Enregistrez-vous maintenant !</div></a></div>
            <p></p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="get-started-banner"> <img src="https://bdeb.o-tutor.com/frontend_assets/images/get-started-banner.png"> </div>
        </div>
      </div>
</div>
