<div class="container">
    <div class="row">

        <div class="col-sm-6"> 
            <h1 class="big-text font-weight-normal">À PROPOS DE O-TUTOR</h1>
            <p class="p1">Commencez à apprendre avec O-tutor dès aujourd'hui</p>
        </div>

        <div class="container d1">
            <div class="row">
              <div class="col">
                <div class="col"> 
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="comment">COMMENT ÇA</h1>
                            <h1 class="marche">MARCHE</h1>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="col"> 
                    <div class="row">
                        <div class="col">col-sm-8</div>
                        <div class="col-sm-8">
                            <h1 class="comment">CE QUE NOUS</h1>
                            <h1 class="marche">OFFRONS</h1>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                    <div class="col">col-sm-8</div>
                    <div class="col-sm-8">
                        <h1 class="comment">LA SUPER</h1>
                        <h1 class="marche">ÉQUIPE</h1>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>

</div>

<div class="container-fluid bg-light d2">

    <div class="triangle-down-white"></div>

    <div class="container-sm">
        <div class="row align-items-center">
            <div class="col">
                <div class="row">
                    <p class="p1 p3">Comment ça marche  -----------------------------</p>
                </div>
                <div class="row">
                    <p>O-tutor est une plateforme permettant à un étudiant d'avoir un portail web pour <br> chacune des classes qu'il a au collège. Cela apporte deux avantages majeurs :</p>
                </div>
                <div class="row">
                    <p class="p2">Ses professeurs vont pouvoir lui partager des ressources et des exercices pour <br> qu'il puisse s'améliorer. Il va aussi avoir accès à une vaste communauté en ligne <br> d'élèves et de professeurs prêt à répondre à ses questions les plus complexes.</p>
                </div>
            </div>
            <div class="col">

                <img src="assets/about-page-img/about-img-responsive.png" class="rounded float-left" alt="Main screen">
    
            </div>
        </div>        
    </div>
    
      
</div>

<div class="container">

    <div class="triangle-down-bg"></div>

    <div class="row align-items-center">
        <div class="col">
            <div class="row">
                <p class="p3">L'utilisation des tuto-apps vont faire tomber les étudiants en amour avec <br> l'apprentissage. À la base ils sont des jeux conçus pour apprendre.</p>
            </div>
            <div class="row">
                <p>La communauté, qui est accessible au travers d'un furom, de messages privés, <br> d'une messagerie informelle intégrée ainsi qu'une classe virtuelle vous liant à vos <br> collègues de cours et vos professeurs, fera en sorte qu'en cas de blocage sur un <br> exercice sentez-vous libre de demander à quiconque de l'aide.</p>
            </div>
            <div class="row">
                <p class="p2">Aussi, il est fort probable que quelqu'un d'autre ait eu des souçis sur une même<br> question et donc que la solution que vous recherchiez se trouve sur le forum, vous <br> n'avez qu'à chercher le titre de la question pour la trouver rapidement.</p>
            </div>
        </div>
        <div class="col">

            <img src="assets/about-page-img/about-img-icon-1.png" class="rounded float-left" alt="Main screen">

        </div>
        
    </div>

    <div class="row align-items-center">        
        <div class="col">
          One of three columns
        </div>
        
        <div class="col">
            <div class="row">
                <p class="p3">Puisque chaque question de la banque de donnée est liée à une section spécifique, <br> lorsqu'un étudiant réponds à une question, qu'il ait tord ou raison, ce plugin <br> apprendra les connaisances acquise (ou pas) de l'étudiant l'aidant ensuite à <br> optimiser ses sessions de révision.</p>
            </div>       
            <div class="row">
                <p class="p2">Ainsi, la prochaine fois que l'étudiant passera une auto-évaluation, O-tutor mettra <br> automatiquement l'accent sur un sujet sur lequel il à plus de difficulté.</p>
            </div>
        </div>

    </div>
</div>
