<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(assets/home-page-img/banner-1.jpg);">
        
        <div class="container">
          <div class="carousel-caption text-start">

            <h1>APPRENEZ</h1>
            <p>Votre professeur en ligne personnalisé, compagnon de <br> votre réussite scolaire ! En utilisant O-tutor, vous <br> apprendrez et maitriserez de nombreux sujets. Apprenez <br> à votre propre rythme dans un environnement <br> personnalisé afin de s’assurer que vous sachiez ce que <br> vous faites le mieux et ce qui nécessite de l’amélioration. <br> Laissez le professeur intégré vous enseigner ce que vous <br> devez apprendre en vous faisant faire des exercices, sans <br> jamais que vous ne fassiez le même.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/home-page-img/banner-2.jpg);">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>PENSEZ</h1>
            <p>Pensez de différentes façons en faisant face à des <br> problèmes de différentes manières et de différents points <br> de vue, vous aidant à maitriser ce que vous tentez de <br> comprendre. Recevez des conseils utiles de l’intelligent <br> professeur disponible en un rien de temps, qui pensera <br> pour vous et vous aidera à étudier ce que vous devez améliorer.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/home-page-img/banner-3.jpg);">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>COMPRENEZ</h1>
            <p>À l’aide du professeur ainsi que la communauté, ou bien <br> même en aidant vous-même la communauté, vous <br> comprendrez un concept, voire même une matière, de <br> façons complètement différentes, s’assurant que vous <br> êtes un meilleur élève que ce que vous pouviez imaginer.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>