<div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
        aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(assets/home-page-img/banner-1.jpg);">

        <div class="container">
          <div class="carousel-caption text-start">

            <h1>APPRENEZ</h1>
            <p>Votre professeur en ligne personnalisé, compagnon de <br> votre réussite scolaire ! En utilisant O-tutor,
              vous <br> apprendrez et maitriserez de nombreux sujets. Apprenez <br> à votre propre rythme dans un
              environnement <br> personnalisé afin de s’assurer que vous sachiez ce que <br> vous faites le mieux et ce
              qui nécessite de l’amélioration. <br> Laissez le professeur intégré vous enseigner ce que vous <br> devez
              apprendre en vous faisant faire des exercices, sans <br> jamais que vous ne fassiez le même.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/home-page-img/banner-2.jpg);">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>PENSEZ</h1>
            <p>Pensez de différentes façons en faisant face à des <br> problèmes de différentes manières et de
              différents
              points <br> de vue, vous aidant à maitriser ce que vous tentez de <br> comprendre. Recevez des conseils
              utiles de l’intelligent <br> professeur disponible en un rien de temps, qui pensera <br> pour vous et vous
              aidera à étudier ce que vous devez améliorer.</p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/home-page-img/banner-3.jpg);">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>COMPRENEZ</h1>
            <p>À l’aide du professeur ainsi que la communauté, ou bien <br> même en aidant vous-même la communauté, vous
              <br> comprendrez un concept, voire même une matière, de <br> façons complètement différentes, s’assurant
              que
              vous <br> êtes un meilleur élève que ce que vous pouviez imaginer.
            </p>
            <p><a class="btn btn-lg btn-primary" href="/login">Enregistrez-vous maintenant !</a></p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid d2 top-dashed">

  <div class="triangle-down-bg"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="display">
          <div class="members-L"><img src="https://www.o-tutor.com/frontend_assets/images/members-icon.png"></div>
          <div class="members-R">
            <div class="members-R-one">303</div>
            <div class="members-R-two">MEMBRES</div>
            <!--<div class="members-R-three"><a href="https://www.o-tutor.com/site/login">Rejoindre dès maintenant!</a></div>-->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="display">
          <div class="members-L"><img src="https://www.o-tutor.com/frontend_assets/images/course-icon.png"></div>
          <div class="members-R">
            <div class="members-R-one">87</div>
            <div class="members-R-two">COURS</div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="display">
          <div class="members-L"><img src="https://www.o-tutor.com/frontend_assets/images/question-icon.png"></div>
          <div class="members-R">
            <div class="members-R-one">12731</div>
            <div class="members-R-two">QUESTIONS</div>
            <div class="members-R-three">ET JEUX</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="mid-bg padding-top-100 padding-bottom-100">
        <div class="row">
          <div class="col-md-12">
            <h1>Découvrez O-tutor</h1>
            <h2>La plateforme en ligne qui vous permet d'entrer en contact avec des professeurs et prendre des cours en
              ligne.</h2>
            <p>Que vous vouliez vous améliorer ou juste mieux maîtriser votre matière, O-tutor sera là pour vous, et ce,
              d’une manière personnalisée.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light d2">

  <div class="triangle-down-white"></div>
    <div class="container">
        <div class="row padding-top-100">
          <div class="col-md-6">
            <div class="display-none">
              <div class="any-time-L"><img src="https://www.o-tutor.com/frontend_assets/images/any-time-1.png"></div>
              <div class="any-time-R">
                <div class="any-time-R-one">N'IMPORTE QUAND, N'IMPORTE OÙ.</div>
                <div class="any-time-R-two">Sentez-vous libre d’utiliser la plateforme en ligne O-tutor n’importe où, que ce soit à votre collège ou chez vous sur un ordinateur. Si vous préférez étudier sur la route, utilisez l’application O-tutor pour tablette et téléphone !</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="display-none">
              <div class="any-time-L"><img src="https://www.o-tutor.com/frontend_assets/images/any-time-2.png"></div>
              <div class="any-time-R">
                <div class="any-time-R-one">INTERFACE PERSONNALISABLE</div>
                <div class="any-time-R-two">Personnalisez votre interface afin pour apprendre dans l’environnement dont vous avez besoin et que vous méritez. Aussi, la plateforme apprendra à vous connaître et se modifiera pour vous satisfaire.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="display-none">
              <div class="any-time-L"><img src="https://www.o-tutor.com/frontend_assets/images/any-time-3.png"></div>
              <div class="any-time-R">
                <div class="any-time-R-one">COLLABORER ET CONNECTER</div>
                <div class="any-time-R-two">Personnalisez votre interface afin pour apprendre dans l’environnement dont vous avez besoin et que vous méritez. Aussi, la plateforme apprendra à vous connaître et se modifiera pour vous satisfaire.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="display-none">
              <div class="any-time-L"><img src="https://www.o-tutor.com/frontend_assets/images/any-time-4.png"></div>
              <div class="any-time-R">
                <div class="any-time-R-one">APPRENEZ À VOTRE RYTHME</div>
                <div class="any-time-R-two">Personnalisez votre interface afin pour apprendre dans l’environnement dont vous avez besoin et que vous méritez. Aussi, la plateforme apprendra à vous connaître et se modifiera pour vous satisfaire.</div>
              </div>
            </div>
          </div>
        </div>

      </div>
</div>

<div class="container-fluid">

  <div class="triangle-down-bg"></div>

    <div class="row">
      <div class="col-md-5  padding-top-100">
        <div class="get-started">
          <h1>DÉBUTONS !</h1>
          <p>Intéressé ? Commencez à utiliser O-tutor maintenant avec votre collège et lancez-vous dans l'essai gratuit maintenant !</p>
          <p><span class="orange"></span>  </p>
          <p></p><div>
          <a href="/login" class="btn btn-warning"> <span class="circle-icon"><i class="fa fa-circle"></i></span> Enregistrez-vous maintenant ! </a>
          </div><p></p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="get-started-banner"> <img src="https://www.o-tutor.com/frontend_assets/images/get-started-banner.png"> </div>
      </div>
    </div>
  
</div>