a:hover {
  color: blue;
}

ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol a {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #D3D4DA;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

ol a:hover {background: #DCDDE1;}
ol a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

ol a:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

ol a:hover:after {
  left: -.5em;
  border-left-color: #f9dd94;
}

.new-courses-img {
  display: inline-block;
  width: 190px;
  height: 190px;
  border: 10px solid #38bb93;
  border-radius: 100%;
}

.about-dashed h1 {
  float: left;
  width: 100%;
  font-size: 40px;
  line-height: 30px;
  color: #006666;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.about-dashed h3 {
  float: left;
  width: 100%;
  font-size: 25px;
  color: #000000;
  margin: 0 0 20px 0;
}

.lms-heading-bg {
  float: left;
  width: 100%;
  background-repeat: repeat-x;
  min-height: 46px;
}

b, strong {
  font-weight: bold;
}

.lms-heading-bg .text-white {
  float: left;
  width: auto;
  background: white;
  font-size: 30px;
  line-height: 42px;
  padding: 0 15px 0 13px;
}

.lms-heading-bg .text-white {
  font-size: 30px;
  float: none;
  overflow: hidden;
  line-height: 45px;
}

.lms-heading-bg .icon-white {
  float: left;
  width: auto;
  background: #fff;
}

