<div class="container-full">

  <!-- HEADER -->
  <app-main-header></app-main-header>

  <div class="row">

    <div class="col-sm-2" *ngIf="isAuth">
      <!-- MENU SIDEBAR-->

      <li>
        <a href="">
          <span class="title"><span class="circle-text">Tableau de bord</span></span>
          <span class="arrow-dash "></span>
        </a>
      </li>

      <li>
        <a href="">
          <span class="title"><span class="circle-text">Apprendre</span></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;"><span class="menu-line-divider"></span>
          <li class="">
            <a href="https://bdeb.o-tutor.com/learners/groups">
              Mes groupes</a>
          </li>
          <li class="">
            <a href="autoevaluation">
              Auto-évaluation</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="">
          <span class="title"><span class="circle-text">Communauté</span></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu" style="display: block;"><span class="menu-line-divider"></span>
          <li class="">
            <a href="https://bdeb.o-tutor.com/community/forums">
              Forums</a>
          </li>

          <li class="">
            <a href="https://bdeb.o-tutor.com/community/messages/inbox">
              Messagerie</a>
          </li>
        </ul>
      </li>

    </div>
    <div class="col-sm-12">

      <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
    </div>
  </div>

  
</div>