 <div class="page-wrapper">

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logos/logo.png" alt="" width="250" height="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white bg-dark" href="courses">Catalogue des cours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="login">Se connecter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-1 mb-1 bg-warning text-dark"></div>


  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>

 </div> 

 <div class="p-2 container-fluid bg-dark ">
   <div class="row">
     <div class="col-sm">
      <p class="text-white bg-dark p1">© 2021 O-tutor. Tous droits réservés</p>     
     </div>   

     <div class="col-sm">
      <a class="nav-link active text-white bg-dark" aria-current="page" href="contactus">Contactez-nous</a>
     </div>
     <div class="col-sm">
      <a class="nav-link active text-white bg-dark" aria-current="page" href="conditions">Modalités et conditions</a>
     </div><div class="col-sm">
      <a class="nav-link active text-white bg-dark" aria-current="page" href="dev">Développeurs</a>
     </div>

   </div> 

 </div>
