<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1 class="big-text font-weight-normal">SE CONNECTER</h1>
      <p class="p1">Connectez-vous avec votre compte O-tutor</p>
    </div>
  </div>


</div>

<div class="container-fluid bg-light">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/logos/logo.png" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
        <input type="text" id="username" class="fadeIn second"  placeholder="Nom d'utilisateur" formControlName="username" name="username" [(ngModel)]="username">
        <input type="password" id="password" class="fadeIn third"  placeholder="Mot de passe" formControlName="password" name="password" [(ngModel)]="password">

        <!-- Le bouton renvoie a la page des étudiants pour l'instant-->

            <button type="submit" class="fadeIn fourth" mat-raised-button color="primary">Login</button>




       <!-- <button type="submit" mat-raised-button color="primary">Login</button>-->
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié?</a>
      </div>

    </div>
  </div>
</div>
<!--

<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">

    <mat-card class="form-container">
      <mat-card-title>Login</mat-card-title>

      &lt;!&ndash; Username &ndash;&gt;
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="name"
            formControlName="username"
          />
        </mat-form-field>
      </div>
      &lt;!&ndash; /Username &ndash;&gt;

      &lt;!&ndash; Password &ndash;&gt;
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      &lt;!&ndash; /Password &ndash;&gt;

      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </mat-card>

</form>

-->


