<div class="row gray">
    <div class="container arrow-mid">
        <div class="row padding-top-100">
            <div class="col-md-12">
            
                <div class="grid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="course-heading-bg margin-bottom-10">
                                <div class="icon"><img src="https://www.o-tutor.com/frontend_assets/images/icon.png" alt=""></div>
                                <div class="text"><b> Rechercher par catégorie</b></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="search-by">
                                <input name="search_keyword" type="text" placeholder="Rechercher par mot-clé" value=""> 
                                <span><button class="search-by-btn"> <i class="fa fa-search"></i> </button></span>             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="scrl_cat">
                      <table class="rwd-table table table table-striped table-bordered table-hover table-condensed margin-none">
                        <tbody>
                          <tr>
                                                                                                    <th>physics11 (4)</th>
                                                                                                                                                                            <th >maths (6)</th>
                                                                                                                                                                            <th >chemistry (3)</th>
                                                                                                                                                                            <th >English uk (0)</th>
                                                                                                                                                                            <th >Test Category (1)</th>
                                                                                                                                                                            <th >CategoryKomi (0)</th>
                                                                                                              </tr>
                                                                                                                                          <tr><th>Testing (0)</th>
                                                                                                                                                                            <th >Computer Science (3)</th>
                                                                                                                                                                            <th >Testing 007 (0)</th>
                                                                                                                                                                            <th >Maths (1)</th>
                                                                                                                                                                            <th >Maths (2)</th>
                                                                                                                                                                            <th >cat-sample (0)</th>
                                                                                                              
                          </tr>
                        </tbody>
                      </table>
                    </div> </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
