<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top" *ngIf="!isAuth">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="assets/logos/logo.png" alt="" width="250" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="about">À propos</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="profil">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white bg-dark" href="courses">Catalogue des cours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="collegelist">Collèges participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="login">Se connecter</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<mat-toolbar color="primary" *ngIf="isAuth">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a class="navbar-brand" href="/home">
      <img src="assets/logos/logo.png" alt="" width="250" height="70">
    </a>
    <span class="menu-spacer"></span>
    <div>
      <mat-form-field appearance="fill">
        <mat-label> {{ username }}</mat-label>
        <mat-select>
          <mat-option (click)="onProfileCLick()">
            Mon Profile
          </mat-option>
          <mat-option >
            <button class="btn-danger" (click)="logout()">Se déconnecter</button>
          </mat-option>
        </mat-select>
      </mat-form-field>



    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/etudiant'"> Tableau de bord </a>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Apprendre</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Mes groupes</button>
          <button ngbDropdownItem (click)="onClickAutoEvaluateBtn()">Auto-évaluation</button>
        </div>
      </div>



      <a mat-list-item [routerLink]="'/contacts'"> Communauté </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="p-1 mb-1 bg-warning text-dark"></div>




