<!-- Étudiant-tb veut dire -> étudiant tableau de bord-->

<h1> Bienvenue Laura Fournier-Poisson</h1>

<!-- Liste de cours  (a continuer)-->
<br>
<br>
<div class="sidenav">
  <a href="etudiant">Tableau de bord</a>
  <a href="autoevaluation">Auto-évaluation</a>
  <a href="about">Communauté</a>
</div>

<div class="dashboard-panel">
  <div class="dashboard-panel-heading"> <h3>Liste de vos cours </h3>
  <br></div>
  <div class="dashboard-panel-body scroller ht600">

    <div class="dashboard-panel-repeat">
      <div class="dashboard-inner">
        <!--<div class="dashboard-inner-l"> 50% </div>-->

        <div class="dashboard-inner-r">
          <div class="dark-green"><b> Mécanique </b>
            <p><br></p>                            </div>
        </div>
      </div>
      <div class="dashboard-inner-bottom">
        <ul>


          <img src="../../../assets/Image/mecanique.png"/>
          <li>
            <div class="top-heading">0</div>
            <div class="top-text">Tests</div>
          </li>

          <li>
            <div class="top-heading">31</div>
            <div class="top-text">Élèves</div>
          </li>
          <li>
            <div class="top-heading"> 0</div>
            <div class="top-text">resources</div>
          </li>
        </ul>
      </div>
    </div>



<!-- Sticky note -->
    <ul>
  <li>
    <a href="#">
      <h2>Test disponible</h2>
      <br>
      <p>Test 1</p>
    </a>
  </li>

</ul>

  </div>
</div>





